<div class="modal-header">
  <h4 class="modal-title float-left avalara-subtitle">Editar Documento</h4>
</div>
<div class="modal-body">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"  *ngFor="let item of _lstEditdata;let i = index;">
      <a class="nav-link"[class.active]="i==0" id="{{item.GroupID}}-tab" data-toggle="tab" href="#{{item.GroupID}}" role="tab" [attr.aria-controls]="item.GroupID" aria-selected="true">{{item.GrpName}}</a>
    </li>
  </ul>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="groupName">Nome do Grupo</label>
      <input type="text" maxlength="40" class="form-control" id="groupName" placeholder="Nome do Grupo" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onConfirm()">Salvar</button>
  <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
</div>