<div class="row">
  <div class="col-md-12">
      <app-full-loading #fullLoading></app-full-loading>
  </div>
  <div class="col-md-12">      
    <div class="modal-header">
      <h4 class="modal-title float-left avalara-subtitle">Editar Documento</h4>
    </div>
    <div class="modal-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" *ngFor="let item of _lstEditdata;let i = index;">
          <a class="nav-link" [class.active]="i==0" id="{{item.GroupID}}-tab" data-toggle="tab" href="#{{item.GroupID}}" role="tab"
            [attr.aria-controls]="item.GroupID" aria-selected="true">{{item.GrpName}}</a>
        </li>
      </ul>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" [class.active]="i==0" [class.show]="i==0" *ngFor="let item of _lstEditdata;let i = index;" id="{{item.GroupID}}"
          role="tabpanel" [attr.aria-labelledby]="item.GroupID">
          <div *ngFor="let ndItem of item.Nodes;let j = index;" class="form-row col-md-12">
            <div class="form-group col-md-4">
              <label for="ndItem.NodeId">{{ndItem.NodeLabel}}</label>

              <input type="{{ndItem.nodeType}}" class="form-control" id="ndItem.NodeId" [attr.data-initVal]="ndItem.InitValue" [(ngModel)]="ndItem.Value"
                (change)="ndItem.isEdited = isEditedFielt($event,ndItem.value)">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onConfirm()">Salvar</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
      </div>
    </div>
  </div>