<div class="modal-body">
  <p>Digite o nome do campo:</p>
  <kendo-combobox
        [data]="nodeList"
        [textField]="'Value'"
        [valueField]="'Key'"
        [placeholder]="'Campos'"
        [(ngModel)]="SelValue"
    >
    </kendo-combobox>
  <!-- <kendo-autocomplete
      [data]="nodeList"
      [placeholder]="'Campos'"
      [valueField]="'Value'"
      [(ngModel)]="SelValue"
  >
  </kendo-autocomplete> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onConfirm()">Salvar</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancelar</button>
</div>